<h1>Royxatadan Otish</h1>

<form asp-controller="Longin"  asp-action="Index" method="post">
    <input type="text" value="Name" placeholder="Name"/>
    <input type="text" value="PhoneNumber" placeholder="PhoneNumber"/>
    <input type="text" value="Password"placeholder="Password"/>
    <input type="submit" value="Login" placeholder="Login"/>

</form>