@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AvtoTest</h1>
    <p>3 xil tild 700 dan ortiq YHQ test savollaridan iborat onlayn test tizimi</p>
</div>

@{
    if(ViewBag.IsLogin == false)
    {
        <div class="text-center">
            <a asp-controller="Users" asp-action="SignUp" class="btn btn-primary">Sign up</a>
            <a asp-controller="Users" asp-action="SignIn" class="btn btn-light">Sign in</a>
        </div>
    }
}

