

<div class="MenuBtn">
    <a asp-controller="Questions"asp-action="Tickets">Tickets</a>
    <a asp-controller="Questions" asp-action="Index" asp-route-index="1" >Examinations</a>
</div>

<style>
    .MenuBtn {
        display:flex;
        justify-content:center;

    }
    .MenuBtn  a {       
        text-align: center;
        width: 150px;
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
        text-decoration: none;
        color: red;
        background-color: yellow;
    }
</style>