@model Ticket;

@{
    ViewData["Title"] = "Examintion";
}

<h1>Examination</h1>

<h2>Id:@Model.Id</h2>
<h2>Count :@Model.QuestionsCount</h2>
<h2>Correct :@Model.CorrectCount</h2>

<a class="btn btn-primary" asp-action="Exam"
asp-route-ticketId="@Model.Id" asp-route-questionId="@Model.FromIndex">Start</a>